:root {
    /* Cores Principais */
    --brand-terracotta: #B56152; /* Accent primário */
    --brand-teal: #749A96;       /* Accent secundário */
    --brand-sage: #DDE3C0;       /* Superfícies leves */
    --brand-taupe: #948466;      /* Texto secundário/borders */
    
    /* Neutras */
    --text-dark: #343434;        /* Texto primário */
    --bg-white: #FFFFFF;         /* Fundo principal */
    --bg-offwhite: #F7F6F3;      /* Superfícies neutras */
}
.bg-brand {
    background-color: var(--brand-terracotta);
}


.text-main {
    color: var(--text-dark) !important;
}

.text-taupe {
    color: var(--brand-taupe) !important;
}
.link-teal {
    color: var(--brand-teal);
    font-weight: 500;
    transition: color 0.3s ease;
}

.link-teal:hover {
    color: #5a7a77; 
}


.btn-brand {
    background-color: var(--brand-terracotta);
    border-color: var(--brand-terracotta);
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.btn-brand:hover {
    background-color: #964f42; 
    border-color: #964f42;
    color: #FFFFFF;
}



.logo-box {
   
    width: 100px; 
    height: 100px; 
    
    
    background-color: #FFFFFF; 
    border-radius: 25px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #2c3e50; 
    font-size: 2.5rem; /* Aumenta o tamanho da fonte "MB" para preencher a caixa */
}


.text-white-50 {
    color: rgba(255, 255, 255, 0.6) !important;
}

/* Customizando o foco (clique) no campo de texto para usar o Terracota */
.form-control:focus {
    border-color: var(--brand-terracotta);
    box-shadow: 0 0 0 0.25rem rgba(181, 97, 82, 0.25);
}

/* Sidebar e seus links */
.sidebar {
    background-color: #FFFFFF;
}

.nav-link {
    color: var(--brand-taupe); /* Aquele tom taupe que definimos */
    font-weight: 500;
    transition: all 0.2s ease;
}

/* Quando passar o mouse */
.nav-link:hover {
    background-color: #F7F6F3; /* O seu Off-white */
    color: var(--brand-terracotta);
}

/* Quando estiver na página ativa */
.nav-link.active {
    background-color: #F7F6F3;
    color: var(--brand-terracotta);
    border-left: 3px solid var(--brand-terracotta); /* A barrinha lateral que indica onde estou */
}

/* Ajuste nos textos */
.text-taupe { color: var(--brand-taupe); }
.text-main { color: var(--text-dark); }